<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Bloggy</title>
</head>

<body>
    <h1>Welcome to Bloggy!</h1>

    <div th:if="${!posts.isEmpty()}">
        <h2>Recent Posts</h2>
        <ul>
            <li th:each="post : ${posts}">
                <a th:href="@{/posts/{id}(id=${post.id})}">
                    <h2 th:text="${post.title}">Post Title</h2>
                </a>
                <p th:text="${post.content}">Post content will go here...</p>
            </li>
        </ul>
    </div>

    <div th:if="${posts.isEmpty()}">
        <p>No posts have been published yet. Check back soon!</p>
    </div>

</body>

</html>