<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Bloggy</title>
</head>

<body>

    <main>

        <h1>Latest Posts</h1>

        <div th:if="${postPage.hasContent()}">

            <article th:each="post : ${postPage.content}">

                <h2>
                    <a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}">Post Title</a>
                </h2>

                <p th:text="${#strings.abbreviate(post.content, 250)}">Post content snippet...</p>

                <div>
                    <small>
                        Posted by <span th:text="${post.user.username}">Author</span>
                        on <span th:text="${#temporals.format(post.createdAt, 'dd-MMM-yyyy')}">Date</span>
                    </small>
                </div>

            </article>

        </div>

        <div th:if="${!postPage.hasContent()}">
            <p>No posts have been published yet. Check back soon!</p>
        </div>

    </main>

</body>

</html>