<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>Register</title>

</head>

<body>

    <h1>Create a new account</h1>

    <div th:if="${registrationError}" style="color: red;">
        <p th:text="${registrationError}"></p>
    </div>

    <form th:action="@{/register}" th:object="${user}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" required autofocus>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" required>
        </div>

        <div>
            <button type="submit">Register</button>
        </div>

    </form>

    <p>Already have an account? <a th:href="@{/login}">Log in here</a></p>

</body>

</html>